@import url('https://api.fonts.coollabs.io/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  /* Dark Mode Colors */
  --dark-text: #f0f1f2;
  --dark-bg-dark: #11121d;
  --dark-bg-medium: #191a28;
  --dark-bg-lighter: #1e2130;
  --dark-text-grey: #979bb0;
  --dark-accent: #15cb82;

  /* Light Mode Colors */
  --light-text: #15181e;
  --light-bg-dark: #ffffff;
  --light-bg-medium: #ebf0f5;
  --light-bg-lighter: #dbe0ec;
  --light-text-grey: #7185a5;
  --light-accent: #6befbb;

  --extra-small-size-fluid: clamp(0.5rem, 1vw, 0.75rem);
  --small-size-fluid: clamp(1rem, 2vw, 1.5rem);
  --medium-size-fluid: clamp(1.8rem, 4vw, 2.5rem);
  --large-size-fluid: clamp(2.5rem, 6vw, 4.5rem);
  --extra-large-size-fluid: clamp(8rem, 10vw + 1rem, 10rem);

  --border-radius: 8px;

  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--dark-text);
    --bg-dark: var(--dark-bg-dark);
    --bg-medium: var(--dark-bg-medium);
    --bg-lighter: var(--dark-bg-lighter);
    --text-grey: var(--dark-text-grey);
    --accent: var(--dark-accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--light-text);
    --bg-dark: var(--light-bg-dark);
    --bg-medium: var(--light-bg-medium);
    --bg-lighter: var(--light-bg-lighter);
    --text-grey: var(--light-text-grey);
    --accent: var(--light-accent);
  }
}

[color-scheme='dark'] {
  --text: var(--dark-text);
  --bg-dark: var(--dark-bg-dark);
  --bg-medium: var(--dark-bg-medium);
  --bg-lighter: var(--dark-bg-lighter);
  --text-grey: var(--dark-text-grey);
  --accent: var(--dark-accent);
}

[color-scheme='light'] {
  --text: var(--light-text);
  --bg-dark: var(--light-bg-dark);
  --bg-medium: var(--light-bg-medium);
  --bg-lighter: var(--light-bg-lighter);
  --text-grey: var(--light-text-grey);
  --accent: var(--light-accent);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Main Components */

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.75rem;

  background-color: var(--bg-dark);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: var(--bg-lighter);

  border: 2px solid var(--bg-dark);
}

body {
  font-family: 'Inter';
  color: var(--text);

  background-color: var(--bg-dark);
}

/* Disable all animations for people that prefer without it */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
